---
import { FloatImage, MediaListItem } from 'ui'
---

<div class="not-prose">
  <MediaListItem href="/partners/jewish-council-in-ukraine">
    <h2 slot="header" class="text-2xl font-bold">Jewish Council in Ukraine</h2>
    <FloatImage
      slot="left"
      src="/assets/common.jpg"
      alt="Jewish Council in Ukraine"
    />
    <p slot="right" class="text-base">
      The Jewish Council of Ukraine - the oldest national organization of the
      country, which came out of the Kiev Society of Culture, established in
      October 22, 1988 under the Ukrainian Cultural Fund. The Council was one of
      the first Republican national organizations in the former USSR and the
      first national organization on the nationwide level. Of the 23
      organizations that were at that time in the Council, now it includes 160
      associations of regional and city level. The Council premises are 410
      square meters (20 rooms, conference hall, and reception hall).
    </p>
  </MediaListItem>

  <MediaListItem href="/partners/babyn-yar-memorial-fund">
    <h2 slot="header" class="text-2xl font-bold">Babi Yar Memorial Fund</h2>
    <FloatImage
      slot="left"
      src="/assets/common.jpg"
      alt="Babi Yar Memorial Fund"
    />
    <p slot="right" class="text-base">
      The Fund was established in October 22, 1988 simultaneously with the
      creation of the Kyiv Society of Jewish Culture.
    </p>
  </MediaListItem>
</div>
