---
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout
  title="Нагорода «Жива пам’ять»"
  description="Нагорода «Жива пам’ять» від НІМЗ «Бабин Яр» за збереження пам'яті про трагедію Бабиного Яру та повернення її з небуття"
>
  <h2>
    Нагорода «Жива пам’ять» від НІМЗ «Бабин Яр» за збереження пам'яті про
    трагедію Бабиного Яру та повернення її з небуття
  </h2>
  <div>
    <div class="float-left mr-6 mb-4 w-full md:w-1/3 lg:w-1/4">
      <div class="h-full overflow-hidden">
        <img
          src="/assets/living-memory-award.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
    </div>
    <div>
      <p>
        У 2024 році Національний історико-меморіальний заповідник «Бабин Яр»
        започаткував власну нагороду — <strong>«Жива пам’ять»</strong>, що
        втілена у вигляді пам’ятного знака з титану, яка вручається людям за
        значні здобутки у збереження пам'яті про трагедію Бабиного Яру.
      </p>
      <p>
        Пам’ятний знак створив київський художник та ювелір
        <strong> Денис Музика</strong>
        спеціально для Заповідника. Він виконаний із титану у формі зрізу дерева
        з річними кільцями.
      </p>
      <p>
        Символіка знака — <strong>тяглість історії</strong>,
        <strong>досвід</strong> і <strong>пам’ять</strong>, де кожне кільце — це
        рік, що залишив слід у нашій спільній історії, уособлює стійкість і
        відповідальність за збереження пам’яті про злочини проти людства.
      </p>
      <p>
        Нагорода «Жива пам’ять» покликана відзначати тих, хто своєю діяльністю
        робить вагомий внесок у збереження пам’яті про трагедію Бабиного Яру та
        протидію забуттю.
      </p>
      <div class="clear-both"></div>
      <p>У 2024 році відзнаку отримали:</p>
      <ul>
        <li>
          №0001 — <strong>Матвій Вайсберг</strong>, художник, автор серії
          муралів для «Бабин Яр».
        </li>
        <li>№0002 — <strong>Ігор Корсунський</strong>, громадський діяч</li>
        <li>№0003 — <strong>Юлія Корсунська</strong>, громадська діячка</li>
        <li>
          №0004 — <strong>Євген Городецький</strong>, громадський діяч,
          дослідник історії Голокосту, ініціатор Маршу пам'яті з нагоди річниці
          трагедії Бабиного Яру
        </li>
        <li>
          №0005 — <strong>Юлія Гольденберг</strong>, культурна менеджерка,
          кураторка проєктів пам’яті та засновниця благодійного фонду “Заради
          тебе”, що опікується Праведниками народів світу з України
        </li>
        <li>
          №0006 — <strong>Маргарита Яковлєва (Ормоцадзе)</strong>, журналістка,
          письменниця, авторка книжок з історії та культури, опікується
          Праведниками народів світу з України
        </li>
        <li>
          №0007 — <strong>Дмитро Юрінов</strong>, громадський діяч, ініціатор
          Маршу пам'яті з нагоди річниці трагедії Бабиного Яру
        </li>
        <li>
          №0008 — <strong>Павло Козленко</strong>, історик, засновник та
          Директор у Музей геноциду “Територія пам’яті”
        </li>
        <li>
          №0009 — <strong>Сергій Кислиця</strong>, Постійний представник України
          при ООН, Перший заступник міністра закордонних справ України
        </li>
      </ul>
      <p>
        Вперше «Жива пам’ять» була представлена на <strong>
          бієнале сучасного ювелірного мистецтва в Ізраїлі
        </strong>— як приклад того, як сучасне мистецтво може говорити мовою
        пам’яті.
      </p>
    </div>
  </div>
</MainLayout>
