---
import MainLayout from '@/layouts/MainLayout.astro'
import { MultiCarousel } from 'ui'
import type { GalleryImage } from 'shared-types'
import { getGalleryImages } from '@/api'
import InternalError from '@/components/InternalError.astro'

let images: GalleryImage[] = []
let urls: string[] = []
const response = await getGalleryImages()

if (response.ok) {
  images = response.data.images
  urls = images.map(i => i.url)
}
---

{
  !response.ok ? (
    <InternalError />
  ) : (
    <MainLayout
      title="Фотознімки пам’ятників та пам’ятних знаків, які знаходяться на території НІМЗ"
      description="Фотознімки пам’ятників та пам’ятних знаків, які знаходяться на території НІМЗ"
    >
      <h2>
        Фотознімки пам’ятників та пам’ятних знаків, які знаходяться на території
        НІМЗ
      </h2>
      <MultiCarousel client:load slides={urls} />
    </MainLayout>
  )
}
