@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/RobotoCondensed-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/RobotoCondensed-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/RobotoCondensed-Italic.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url(/fonts/RobotoCondensed-LightItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/RobotoCondensed-BoldItalic.ttf) format('opentype');
}
