---
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<BaseLayout {title} {description}>
  <div
    class="prose prose-img:m-0 prose-img:p-0 max-w-none text-xl text-black [&_img+img]:mt-4 md:[&_img+img]:mt-8"
  >
    <slot />
  </div>
</BaseLayout>
