---
import { FloatImage, MediaListItem } from 'ui'
---

<div class="not-prose">
  <MediaListItem href="/partners/jewish-council-in-ukraine">
    <h2 slot="header" class="text-2xl font-bold">
      Фонд “Пам’ять Бабиного Яру”
    </h2>
    <FloatImage
      slot="left"
      src="/assets/common.jpg"
      alt="Фонд “Пам’ять Бабиного Яру”"
    />
    <p slot="right" class="text-base">
      Фонд засновано 22 жовтня 1988 р. одночасно з створенням Київського
      товариства єврейської культури.
    </p>
  </MediaListItem>

  <MediaListItem href="/partners/babyn-yar-memorial-fund">
    <h2 slot="header" class="text-2xl font-bold">Єврейська рада України</h2>
    <FloatImage
      slot="left"
      src="/assets/common.jpg"
      alt="Єврейська рада України"
    />
    <p slot="right" class="text-base">
      Єврейська рада України – найстаріша національна організація країни, яка
      виросла з Київського товариства культури, утворена 22 жовтня 1988р. при
      Українському фонді культури. Рада була однією з перших республіканських
      національних організацій в колишньому СРСР і першою національною
      організацією всеукраїнського рівня. З 23 організацій, які входили в той
      час в Раду, вона зараз об’єднує 160 товариств обласного та міського рівня.
      Рада займає приміщення площею 410 кв.м (20 кімнат, актовий зал, зал
      прийомів).
    </p>
  </MediaListItem>
</div>
