[data-radix-popper-content-wrapper] {
  left: 0;
  right: 0;
}

.content[data-state='open'] {
  animation-duration: 250ms;
  animation-timing-function: ease;
  animation-name: fadeIn;
}

.content[data-state='closed'] {
  animation-duration: 250ms;
  animation-timing-function: ease;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
