---
export interface Props {
  href: string
}

const { href } = Astro.props
---

<a
  href={href}
  class="px-4 py-1 text-right font-light lowercase transition-colors hover:bg-black hover:text-white"
>
  <slot />
</a>
