---
import { useTranslations, getLangFromUrl } from 'src/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer class="mx-auto mb-5 mt-28 max-w-4xl space-y-1 px-4 text-left">
  <p>{t('footer.main')}</p>
  <p>{t('footer.address')}</p>
  <p>
    e-mail:
    <a href={`mailto:${t('footer.email')}`}>
      {t('footer.email')}
    </a>
  </p>
</footer>
