---
import { useTranslations, getLangFromUrl } from 'src/i18n/utils'
import LanguagePicker from './LanguagePicker'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header class="fixed top-0 z-10 w-full border-b bg-white shadow">
  <div class="mx-auto flex h-10 max-w-6xl items-center px-5">
    <a href={`/${lang}/home`} class="mr-20">{t('nav.title')}</a>
    <nav class="flex items-center justify-between gap-4">
      <a href={`/${lang}/visit`}>{t('nav.visit')}</a>
      <a>{t('nav.education')}</a>
      <a>{t('nav.connect')}</a>
      <a>{t('nav.support')}</a>
      <LanguagePicker lang={lang} client:idle />
    </nav>
  </div>
</header>
