---
export interface Props {
  href: string
}

const { href } = Astro.props
---

<div class="mx-auto px-4 md:px-[calc(3rem+176px)]">
  <a
    href={href}
    class="rounded-sm border border-black/20 px-3 py-1 !not-italic no-underline transition-colors duration-200 hover:bg-black hover:text-white"
  >
    <slot />
  </a>
</div>
