---
import MapLegendItem from './MapLegendItem.astro'
---

<div class="mx-auto max-w-4xl">
  <div class="px-4">
    <div class="flex items-center justify-between">
      <MapLegendItem color="31FB24">Active Synagogue</MapLegendItem>
      <MapLegendItem color="3466FF">Inactive Synagogue</MapLegendItem>
      <MapLegendItem color="FF0200">Memorial</MapLegendItem>
      <MapLegendItem color="4F6128">Place of mass executions</MapLegendItem>
    </div>
  </div>
</div>
