---
import Header from '@/components/Header/Header.astro'
import { getLangFromUrl } from '@/i18n/utils'
import Footer from '@/components/Footer.astro'
import '@/styles/roboto.css'
import MobileNav from '@/components/Header/MobileNav.astro'
import Head from '@/components/Head.astro'
import HeadSEO from '@/components/HeadSEO.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  content: CollectionEntry<'site'>['data']
}

const lang = getLangFromUrl(Astro.url)
const { content } = Astro.props
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <Head />
    <HeadSEO content={content} />
  </head>
  <body class="relative">
    <Header />
    <MobileNav />
    <main
      class="prose mx-auto max-w-none pt-32 text-xl text-black prose-headings:mx-auto prose-headings:max-w-4xl prose-headings:px-4 prose-p:mx-auto prose-p:max-w-4xl prose-p:px-4 prose-a:italic prose-ul:mx-auto prose-ul:max-w-4xl prose-img:m-0"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
