---
import Header from '@/components/Header/Header.astro'
import { getLangFromUrl } from '@/i18n/utils'
import Footer from '@/components/Footer.astro'
import '@/styles/roboto.css'

export interface Props {
  title: string
}

const lang = getLangFromUrl(Astro.url)
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main
      class="prose mx-auto max-w-none pt-32 text-xl text-black prose-headings:mx-auto prose-headings:max-w-4xl prose-headings:px-4 prose-p:mx-auto prose-p:max-w-4xl prose-p:px-4 prose-a:italic prose-ul:mx-auto prose-ul:max-w-4xl"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
