---
import Header from '@/components/Header/Header.astro'
import { getLangFromUrl } from '@/i18n/utils'
import Footer from '@/components/Footer.astro'
import '@/styles/roboto.css'
import MobileNav from '@/components/Header/MobileNav.astro'
import Head from '@/components/Head.astro'
import HeadSEO from '@/components/HeadSEO.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  content: CollectionEntry<'site'>['data']
}

const lang = getLangFromUrl(Astro.url)
const { content } = Astro.props
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <Head />
    <HeadSEO content={content} />
  </head>
  <body class="relative">
    <Header />
    <MobileNav />
    {
      /*
      When calculating padding for text elements we add the padding of header which is 3rem (px-12 in tailwind)
      and the size of the logo which is 176px (w-44) to text to the last letter of the logo
    */
    }
    <main
      class="prose max-w-none pt-32 text-xl text-black prose-headings:mx-auto prose-headings:px-4 prose-p:mx-auto prose-p:px-4 prose-a:italic prose-li:pl-0 prose-img:m-0 md:prose-headings:px-[calc(3rem+176px)] md:prose-p:px-[calc(3rem+176px)] md:prose-ul:px-[calc(3rem+176px)]"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
